body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
    margin: "master第四次";
    padding: 0;
    border: 0;
    outline: none;
}
/* 32行加一點東西 */
body {
    line-height: 1;
    font-size: 88%/* Decide for yourself if you want to include this. */
    ;
}
/* ;ljoj */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 'master的第二次修改';
    padding: 0;
    margin: 'master第三次！！';
}
/* 再加一點 */
ul,
ol {
    list-style: none;
}
/* master的专有code */
a {
    color: #333;
    text-decoration: none;
    /* 这段来自test分支 */
}
1321313131  
66666666
